.about-feature-bg {
    background-image: url(../images/about/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
  
.about-feature-bg::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
    opacity: .2;
    top: 0;
    left: 0;
}